/*стили для трехходового клапана*/
.grade{
  background: black;
  width: 0.5vw;
  height: 1px;
  position: absolute;
  z-index: 1;
}
.getData{
  position: absolute;
  top: 35%;
  font-size:60%;
  animation: myBlinking 1s infinite alternate;
}
@keyframes myBlinking {
  from {opacity:0.2;}
  to {opacity: 1;}
}
.center{
  position:absolute;
  border-radius:50%;
  background:black;
  z-index: 3;
}
.position-hand {
  position: absolute;
  z-index: 2;
  background: red;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
@media screen and (max-width: 2024px) {
  .classFont { font-size: 1.0rem; }
 }
 @media screen and (max-width: 1024px) {
  .classFont { font-size: 0.8rem; }
 }
 @media screen and (max-width: 600px) {
  .classFont { font-size: 0.6rem; }
 }